//Colours
$main-color: #000000;
$parimary-colour:#808080 !default;
$success-colour:#00ff21 !default;
$warning-colour:#ff6a00 !default;
$danger-colour:#ff0000 !default;
$info-colour:#0094ff !default;
$standard-colour:#ffffff;

//Fonts
$main-font: 'Lato', sans-serif;
$secondary-font: 'Odibee Sans', cursive;
$standard-font: 'Inconsolata', monospace;
$primary-font: 'Open Sans', sans-serif;
$text-font: 'Anton', sans-serif;


//Images
$main-background: "../Content/Images/bg.png";
$login-photo: "../Content/Images/zr-demo-login-img-2.png";

//Font Sizes
$standard-size:14px;
$main-size:22px;
$secondary-size:16px;