@{
    ViewBag.Title = "Contact";
}

<div class="row"><div class="col-md-12 m-md-2 p-md-2"></div></div>
<div class="row">
    <div class="col-md-12 bg-white rounded m-md-3 p-md-3">
        <h1>Dashboard</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12 bg-white rounded m-md-3 p-md-3">
        <h1>Welcome @User.Identity.Name</h1>
    </div>
</div>
<div class="row"><div class="col-md-12 m-md-2 p-md-2"></div></div>
<div class="row">
    <div class="col-md-12 bg-white rounded m-md-3 p-md-3">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>



