<connectionStrings>
  <add name="RouteGenieDemoAppDev" connectionString="data source=DEVELOPER-PC\MSSQLDEV2017;initial catalog=RgDbDemoAppDev;user id=sa;password=ziggyrafiq81;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="RouteGenieDemoAppTst" connectionString="data source=Tiamat;initial catalog=RgDbDemoAppTst;user id=sa;password=ziggyrafiq81;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>


